<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
			<key>label</key>		<string>Homescreen Actions</string>
		</dict>
		
		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key>		<string>ws.hbang.switchspring</string>
 			<key>detail</key> 		<string>HBSSLinkListController</string>
			<key>id</key> 			<string>SwipeUpList</string>
 			<key>key</key> 			<string>swipeUpAction</string>
 			<key>label</key> 		<string>Swipe Up</string>
 			<key>validTitles</key> <array>
 				<string>Prompt</string>
 				<string>Restart</string>
 				<string>Quit Apps</string>
 				<string>Nothing</string>
 			</array>
 			<key>validValues</key>
 			<array>
 				<integer>0</integer>
 				<integer>1</integer>
 				<integer>2</integer>
 				<integer>3</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key>		<string>ws.hbang.switchspring</string>
 			<key>detail</key> 		<string>HBSSLinkListController</string>
			<key>id</key> 			<string>SwipeDownList</string>
 			<key>key</key> 			<string>swipeDownAction</string>
 			<key>label</key> 		<string>Swipe Down</string>
 			<key>validTitles</key> <array>
 				<string>Prompt</string>
 				<string>Restart</string>
 				<string>Quit Apps</string>
 				<string>Nothing</string>
 			</array>
 			<key>validValues</key>
 			<array>
 				<integer>0</integer>
 				<integer>1</integer>
 				<integer>2</integer>
 				<integer>3</integer>
 			</array>
		</dict>

		<dict>
			<key>cell</key>			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>  			<string>PSLinkCell</string>
			<key>label</key>			<string>About</string>
			<key>detail</key> 			<string>HBSSAboutListController</string>
 			<key>isController</key> 	<true/>
		</dict>

	</array>
	<key>title</key>
	<string>SwitchSpring</string>
</dict>
</plist>
